# 搜索工具
TAVILY_API_KEY=your_tavily_api_key

# llm大模型
QIANFANG_API_KEY=your_qianfan_api_key
QIANFANG_BASE_URL=https://qianfan.baidubce.com/v2
QIANFANG_MODEL=ernie-4.5-turbo-32k

# 高德apikey 用于MCP
GAODE_API_KEY=your_gaode_api_key

# 聚合数据平台 MCP - 航班查询
JUHE_BASE_URL=